.btn {
    border-radius: 24px;
    padding: 12px 16px;
    background-color: #877EED;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.btn:hover {
    background-color: #544ACB;
}